// LOGO HEADER
.pierwsza_czesc_logo {
  display: flex;
  margin-left: 110px;
  font-family: var(--main-color);
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.druga_czesc_logo {
  display: flex;
  margin-right: 46px;
  color: var(--secondary-color);
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 1.192;
  font-weight: 700;
  font-size: 26px;
}
.ustawienie_logo_w_headerze {
  padding-top: 24px;
  padding-bottom: 25px;
}

// LOGO FOOTER

.pierwsza_czesc_logo_footer {
  display: flex;
  font-family: var(--main-color);
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}
