.nav__list {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
}
.nav__l_i {
  margin-right: 23px;
}
.nav__l_i {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav__l_i:hover,
.nav__l_i:focus,
.adress_footer_l_i:hover,
.adress_footer_l_i:focus {
  color: var(--main--color);
}